.pokesearch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pokesearch input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}
