.container {
  max-width: 1500px;

  min-height: 100vh;
  margin: 0 auto;
}

#heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pokecard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
